@forward "../config/variables";
@use "../config/variables" as var;
@forward  "../function/convert-vp";
@use "../function/convert-vp" as vp;
@forward "../mixin/common-ct";
@use "../mixin/common-ct" as ct;
@forward "../mixin/common-pt";
@use "../mixin/common-pt" as pt;
@forward "../mixin/common-mt";
@use "../mixin/common-mt" as mt;
@forward  "../mixin/font-noto";
@use "../mixin/font-noto" as fn;
@forward "../mixin/madia";
@use "../mixin/madia";
@forward  "../mixin/site-padding";
@use "../mixin/site-padding" as sp;


.comparison__container {
  .comparison__contents {
    max-width: vp.convertVw(1025px, 1280px);
    margin: 0 auto;
    @include pt.common-point;
    @include madia.deviceBreakPointMax(600px) {
      max-width: none;
    }
    .common-point {
      max-width: none;
    }
    .comparison__content {
      &.c-bgi {
        max-width: vp.convertVw(1025px, 1280px);
        width: vp.convertPercent(957px, 1025px);
        margin: 0 auto;
        padding-bottom: vp.convertPercent(574px, 1025px);
        margin-top: vp.convertVw(99px, 1280px);
        background-image: url(../images/comparison.svg);
        background-size: cover;
        background-repeat: no-repeat;
        @include madia.deviceBreakPointMax(600px) {
          max-width: none;
          width: vp.convertVw(536px, 600px);
          height: vp.convertVh(408px, 600px);
          margin-top: vp.convertVw(75px, 600px);
          background-image: url(../images/comparisonSp.svg);
        }
      }
    }
  }
  .comparison__content {
    &.c-info {
      margin-top: vp.convertVw(95px, 1280px);
      background-color: var.$colorBlue;
      .comparison__content__items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: vp.convertVw(1025px, 1280px);
        margin: 0 auto;
        @include fn.fontNotoBold;
        @include sp.sitePaddingBase(71px, 0px, 56px, 0px);
        @include madia.deviceBreakPointMax(600px) {
          max-width: none;
        }
        &-title {
          font-size: 3.2rem;
          color: var.$colorBlack;
          background-color: var.$colorWhite;
          @include sp.sitePaddingBase(19px, 210px, 19px, 168px);
          border-radius: vp.convertVw(34px, 1280px);
          @include madia.deviceBreakPointMax(600px) {
            font-size: 2.6rem;
          }
        }
        &-text {
          font-size: 2.4rem;
          color: var.$colorWhite;
          margin-top: vp.convertVw(39px, 1280px);
          @include madia.deviceBreakPointMax(600px) {
            margin: vp.convertVw(36px, 600px) 0 vp.convertVw(52px, 600px);
            font-size: 1.9rem;
          }
          &__inner {
            position: relative;
            &::before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: vp.convertVw(28px, 1280px);
              height: vp.convertVh(24px, 1280px);
              background-image: url(../images/list.svg);
              background-size: contain;
              background-repeat: no-repeat;
              transform: translateX(-100%);
              @include madia.deviceBreakPointMax(600px) {
                width: vp.convertVw(18px, 600px);
                height: vp.convertVh(16px, 600px);
                transform: translate(-120%, 25%);
              }
            }
          }
          &__inner:not(:nth-of-type(1)) {
            margin-top: vp.convertVw(29px, 1280px);
          }
        }
      }
    }
  }
}